/* ///////////// */
/* COMPLETE BODY */
/* ///////////// */

.app-wrapper {
  display: flex;
  flex-direction: column;
}

/* ////// */
/* HEADER */
/* ////// */

.app-header {
  background-color: rgb(229, 238, 247);
  padding: 2rem 0;
  box-shadow: 0px 0px 30px rgb(197, 197, 197);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-header__home-link-text {
  font-size: 3rem;
  font-weight: 600;
  margin: 1.5rem 0;
  width: min-content;
  text-align: center;
}

.app-header__home-link-text:hover {
  transform: scale(1.02);
  transition: transform 1s;
}

.app-header__home-link-text:active {
  transform: scale(0.98);
  color: rgb(65, 65, 65);
  transition: transform 0.5s;
}

.app-header__nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: -36px;
  text-align: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.app-header__nav-link-text:hover {
  color: rgb(90, 90, 90);
}

.app-header__nav-link-text:active {
  color: rgb(135, 152, 170);
}

/* /////// */
/* CONTENT */
/* /////// */

.app-content {
  min-height: 30vh;
  padding: 1.5rem;
}

/* ////// */
/* FOOTER */
/* ////// */

.app-footer {
  background-color: rgb(135, 152, 170);
  padding: 2rem 0.5rem;
  box-shadow: 0px -8px 30px rgb(197, 197, 197);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-footer__link-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: -36px;
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 600;
  gap: 10px;
}

.app-footer__link-text:hover {
  color: rgb(49, 49, 49);
}

.app-footer__link-text:active {
  color: rgb(65, 65, 65);
}

/* ////////////////// */
/* TABLET MEDIA QUERY */
/* ////////////////// */

@media (min-width: 768px) {
  /* HEADER */
  .app-header__home-link-text {
    width: max-content;
  }

  /* CONTENT */
  .app-content {
    padding: 2rem;
  }
}

/* ////////////////// */
/* LAPTOP MEDIA QUERY */
/* ////////////////// */

@media (min-width: 1024px) {
  /* HEADER */
  .app-header__nav-list {
    flex-direction: row;
    gap: 25px;
  }

  /* CONTENT */
  .app-content {
    min-height: 45vh;
    padding: 2rem 3rem;
  }

  /* FOOTER */
  .app-footer {
    align-items: center;
  }

  .app-footer__link-list {
    flex-direction: row;
    gap: 25px;
  }
}
