/* TYPOGRAPHY */

.main-category-title {
  font-size: 2rem;
}

.subcategory-title {
  font-size: 1.6rem;
  color: rgb(95, 106, 117);
  margin-top: 4rem;
}

.single-post-overview-wrapper h4 {
  font-size: 1.25rem;
  border: 1px solid black;
  border-width: 2px 0;
  padding: 10px 0;
  margin-top: 1rem;
}

.single-post-overview-wrapper details {
  font-size: 1rem;
  line-height: 1.5;
  background-color: rgb(236, 236, 236);
  padding: 10px;
  margin: 20px 0;
  border-radius: 10px;
}

.single-post-overview-wrapper summary {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* READ MORE LINK */
.read-more-link {
  font-size: 1.2rem;
  text-decoration: underline;
  text-decoration-thickness: 15%;
}

/* SPACING */
.page-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.all-posts-overview-wrapper {
  margin-bottom: 3rem;
}

.single-post-overview-wrapper {
  margin-bottom: 4.5rem;
}

/* TABLET MEDIA QUERY */

@media (min-width: 768px) {
  /* SPACING */
  .all-posts-overview-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
  }
}

/* LAPTOP MEDIA QUERY */

@media (min-width: 1024px) {
  /* SPACING */
  .all-posts-overview-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
  }
}

/* ANIMATION */
/* opening details toggle */
.single-post-overview-wrapper details[open] summary ~ * {
  animation: open 0.5s ease;
}

@keyframes open {
  0% {
    opacity: 0;
    margin-top: -40px;
  }
  100% {
    opacity: 1;
  }
}

/* SEARCH RESULT SPECIFIC */
.subcat-title-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.subcategory-title-in {
  font-size: 1.6rem;
  color: black;
  margin-top: 4rem;
}
