.main-category-title {
  font-size: 2rem;
}

.subcategory-title {
  font-size: 1.6rem;
  color: rgb(95, 106, 117);
  margin: 40px 0 0 0;
}

.post-wrapper {
  margin: 0 0 70px 0;
}

.post-wrapper h4 {
  font-size: 1.25rem;
  border: 1px solid black;
  border-width: 2px 0 2px 0;
  padding: 10px 0 10px 0;
  margin-top: 40px;
}

.post-wrapper details {
  font-size: 1rem;
  line-height: 1.5;
  background-color: rgb(236, 236, 236);
  padding: 10px;
  margin: 20px 0 20px 0;
  border-radius: 10px;
}

.post-wrapper summary {
  font-size: 1.2rem;
  line-height: 1.5;
}

.post-wrapper details[open] summary ~ * {
  animation: open 0.5s ease;
}

.read-more-link {
  font-size: 1.2rem;
  text-decoration: underline;
  text-decoration-thickness: 15%;
}

.search-form {
  background-color: rgb(236, 236, 236);
  padding: 1rem;
  border-radius: 10px;
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-input {
  padding: 0.5rem;
  margin: 1rem;
  border: 2.5px solid rgb(135, 152, 170);
  border-radius: 5px;
  font-size: 16px;
  width: stretch;
}

.search-button {
  background-color: rgb(135, 152, 170);
  padding: 0.5rem;
  margin: 1rem;
  border: 2.5px solid rgb(135, 152, 170);
  border-radius: 5px;
  font-size: 16px;
}

.search-button:hover {
  background-color: rgb(156, 178, 201);
  border: 2.5px solid rgb(156, 178, 201);
}

@media (min-width: 750px) {
  .all-posts-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
  }
}

@media (min-width: 1100px) {
  .page-wrapper {
    max-width: 1100px;
    margin: 0 auto;
  }
  .all-posts-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
  }
}

@keyframes open {
  0% {
    opacity: 0;
    margin-top: -40px;
  }
  100% {
    opacity: 1;
  }
}
